body {
  background-color: #F5F5F5;
  color: #333333;
  font-family: Arial, sans-serif;
}

form {
  width: 400px;
  margin: 0 auto;
  text-align: centre;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: center;
}


input[type="text"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.error {
  color: red;
}
