<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Calorie Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Daily<br>Calorie Calculator</h1>
    <p>
        Lets calculate how many calories your body needs today!
    </p>
    <h2>My Form</h2>
    <form method="POST" action="{{ url_for('myform') }}">
        {{ form.csrf_token }}   <!-- flask built in security measure -->
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.weight.label }} {{ form.weight() }}<br>
        {{ form.height.label }} {{ form.height() }}<br>
        {{ form.age.label }} {{ form.age() }}<br>
        {{ form.country.label }} {{ form.country() }}<br>
        {{ form.city.label }} {{ form.city() }}<br>
        {{ form.submit() }}
    </form>
    {% if calories %} <!-- field not present in form, does form instantiate with None types. Confused. -->
    <p>
       Thanks {{name}}! <br>
       Eat an estimated {{calories}} calories today!
    </p>
    {% endif %}

</body>
</html>

